aiohappyeyeballs==2.7.1
aiohttp==3.14.1
aiosignal==1.4.0
asyncio==4.0.0
attrs==26.1.0
enum-tools==0.13.0
frozenlist==1.8.0
idna==3.18
loguru==0.7.3
multidict==6.7.1
plumbum==2.0.1
propcache==0.5.2
Pygments==2.20.0
python-dateutil==2.9.0.post0
rpyc==6.0.2
six==1.17.0
streamcontroller-plugin-tools==2.0.2
twitchAPI==4.5.0
typing_extensions==4.16.0
yarl==1.24.2
